<section
  id="about-section-{{ section.id }}"
  class="overflow-hidden "
  style="background:{{ section.settings.custom_bg_color }}; padding-top:{{section.settings.padding_top}}px; padding-bottom:{{section.settings.padding_bottom}}px">
  <div class="container mx-auto max-w-7xl">
    <div class="flex flex-wrap items-center justify-between gap-5">
      <div class="w-full px-2 md:px-0 lg:w-6/12">
        <div class="-mx-3 flex items-center sm:-mx-4">
          <div class="w-full px-3 sm:px-4 xl:w-1/2">
            <div class="py-3 sm:py-4">
              <img
                src="{{section.settings.first_image | img_url: 'master'}}"
                alt="About us"
                class="w-full rounded-2xl" />
            </div>
            <div class="py-3 sm:py-4">
              <img
                src="{{section.settings.second_image | img_url: 'master'}}"
                alt="About us"
                class="w-full rounded-2xl" />
            </div>
          </div>
          <div class="w-full px-3 sm:px-4 xl:w-1/2">
            <div class="relative z-10 my-4">
              <img
                src="{{section.settings.third_image | img_url: 'master'}}"
                alt="About us"
                class="w-full rounded-2xl" />

            </div>
          </div>
        </div>
      </div>
      <div class="w-full px-2 md:px-0 lg:w-1/2 xl:w-5/12">
        <div class=" mt-2 md:mt-10 lg:mt-0">
          {% if section.settings.title %}
            <span class="md:mb-2 block text-lg font-semibold " style="color:{{ section.settings.text_color }}">
              {{ section.settings.title }}
            </span>
          {% endif %}
          {% if section.settings.sub_title %}
            <h2 id="title_{{ section.id }}" class="mb-0 md:mb-8 " style="color:{{ section.settings.text_color }}">
              {{ section.settings.sub_title }}
            </h2>
          {% endif %}

          <div class="mb-2 md:mb-8" style="color: {{ section.settings.text_color }}">
            {{ section.settings.description }}
          </div>
          {% if section.settings.button_label %}
            <div class="mt-4 mb-2 ">
              <a href="{{section.settings.btn_url}}" class="{{ section.settings.button_style }}">
                {{ section.settings.button_label }}
              </a>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>

{% style %}
  #title_{{ section.id }}{
    font-size: {{ section.settings.font_size_desktop }}px;
  }
  @media only screen and (max-width: 667px) {
      #title_{{ section.id }}{
        font-size: {{ section.settings.font_size_mobile }}px;
      }
    }
{% endstyle %}
{%- schema -%}
  {
    "name": "t:sections.about-us.name",
    "settings": [
      {
        "type": "image_picker",
        "id": "first_image",
        "label": "t:sections.about-us.settings.first_image.label"
      },
      {
        "type": "image_picker",
        "id": "second_image",
        "label": "t:sections.about-us.settings.second_image.label"
      },
      {
        "type": "image_picker",
        "id": "third_image",
        "label": "t:sections.about-us.settings.third_image.label"
      },
      {
        "type": "color",
        "id": "custom_bg_color",
        "label": "t:sections.about-us.settings.custom_bg_color.label",
        "default": "#fff"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "t:sections.about-us.settings.text_color.label",
        "default": "#000"
      }, {
        "type": "text",
        "id": "title",
        "label": "t:sections.about-us.settings.title.label",
        "default": "About Us"
      }, 
      {
         "type": "range",
            "id": "font_size_desktop",
            "label": "Title Font Size Desktop",
            "min": 16,
            "max": 60,
            "step": 1,
            "unit": "px",
            "default": 20
        },
        {
            "type": "range",
            "id": "font_size_mobile",
            "label": "Title Font Size Mobile",
            "min": 10,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 18
        },
      {
        "type": "text",
        "id": "sub_title",
        "label": "t:sections.about-us.settings.sub_title.label",
        "default": "Why Choose Us"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.about-us.settings.description.label",
        "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla omnis, voluptas asperiores qui excepturi quam, provident ipsa iusto, voluptate iste minima</p>"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.about-us.settings.button_label.label",
        "default": "Read More"
      }, {
        "type": "url",
        "id": "btn_url",
        "label": "t:sections.about-us.settings.btn_url.label"
      }, 
      {
            "type": "select",
            "id": "button_style",
            "options": [
              {
                "value": "primary_button",
                "label": "Primary Button"
              }, 
              {
                "value": "secondary_button",
                "label": "Secondary Button"
              }
            ],
            "default": "primary_button",
            "label": "Primary Button"
          },
      {
        "type": "range",
        "id": "padding_top",
        "label": "t:sections.about-us.settings.padding_top.label",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "default": 10
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "t:sections.about-us.settings.padding_bottom.label",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "default": 10
      }
    ],
    "presets": [
      {
        "name": "t:sections.about-us.presets.name"
      }
    ]
  }
{%- endschema -%}