{%- style -%}
#desktop-{{ section.id }}{
    background-image: url({{ section.settings.desktop_banner | img_url: 'master' }});
    height: {{ section.settings.desktop_banner_size}}vh;
}

#mobile-{{ section.id }}{
    background-image: url({{ section.settings.mobile_banner | img_url: 'master' }});
    height: 80vh;
}
#sidebar-{{ section.id }}{
    background-color: {{ section.settings.sidebar_bg_color }}
}
#image-with-sidebar-{{ section.id }} h2{
    font-size:{{ section.settings.font_size}}px;
    line-height:{{ section.settings.font_size}}px;
    color:{{ section.settings.text_color}}
}
#image-with-sidebar-{{ section.id }} p{
    color:{{ section.settings.text_color}}
}

@media only screen and (max-width:768px){

#image-with-sidebar-{{ section.id }} h2{font-size:24px;line-height: 25px;}

} 
{%- endstyle -%}
<div id="image-with-sidebar-{{ section.id }}">
    <div class="relative">
        <div class="hidden md:block">
            {% if section.settings.desktop_banner != blank %}
                <div id="desktop-{{ section.id }}" class="bg-cover bg-center"></div>
            {% else %}    
                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
        </div>

        <div class="block md:hidden">
            {% if section.settings.mobile_banner != blank %}
                <div id="mobile-{{ section.id }}" class="bg-cover bg-center"></div>
            {% else %}    
                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
        </div>

        <div class="md:absolute top-0 right-0 w-full h-full md:flex  md:justify-{{ section.settings.sidebar_alignment }}">
            <div class="w-full md:w-[450px] h-full flex justify-center items-center" id="sidebar-{{ section.id }}">
                <div class="text-center p-5">
                    {% for block in section.blocks %}
                        {%- case block.type -%}
                            {%- when 'heading' -%}
                                <h2 class="py-2"> {{ block.settings.title }} </h2>
                            {%- when 'text' -%}
                                <div class="">
                                    <p class="py-2 {{ section.settings.subtitle_size }}">{{ block.settings.subtitle }} </p>
                                </div>
                            {%- when 'button' -%}
                            {% if block.settings.button_label != blank %}
                                <div class="mt-6 flex justify-center">
                                <a href="{{ block.settings.button_link }}" class="flex justify-center items-center w-40 mx-auto p-2 {{ section.settings.button_style }} text-white font-semibold ">{{ block.settings.button_label }}</a>
                                </div>
                            {% endif %}

                        {%- endcase -%}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Image banner with sidebar",
        "settings":[
            {
                "type": "image_picker",
                "id": "desktop_banner",
                "label": "Desktop Image"
            },
            {
                "type": "image_picker",
                "id":"mobile_banner",
                "label": "Mobile Banner"
            },
            {
                "type": "select",
                "id": "desktop_banner_size",
                "options":[
                    {
                        "value": "65",
                        "label": "65VH"
                    },
                    {
                        "value": "80",
                        "label": "80VH"
                    },{
                        "value": "100",
                        "label": "100VH"
                    }
                ],
                "default":"100",
                "label": "Banner Height"
            },
            {
                "type": "color",
                "id": "sidebar_bg_color",
                "label": "Sidebar Background Color",
                "default": "#fff"  
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color",
                "default":"#000000"
            },
            {
                "type": "select",
                "id": "sidebar_alignment",
                "options": [
                    {
                        "value": "start",
                        "label":"left"
                    }, 
                    {
                        "value": "end",
                        "label":"right"
                    }
                ],
                "default": "start",
                "label":"Sidebar Alignment"
            },
            {
                "type": "select",
                "id": "button_style",
                "options":[
                    {
                        "value": "primary-button",
                        "label": "Primary Button"
                    },
                    {
                        "value": "secondary-button",
                        "label": "Secondary Button"
                    }
                ],
                "default":"primary-button",
                "label": "Button Style"
            },
            
            {
                "type": "range",
                "id" : "font_size",
                "min": 18,
                "max": 40,
                "step": 2,
                "default": 20,
                "unit": "px",
                "label": "Title font size"
            },
            {
                "type": "select",
                "id": "subtitle_size",
                "label": "Subtitle font size",
                "options": [
                    {
                        "value": "text-sm",
                        "label": "Small"
                    },
                    {
                        "value": "text-base",
                        "label": "Normal"
                    },
                    {
                        "value": "text-lg",
                        "label": "Large"
                    }
                ],
                "default": "text-base"
            }
        ],
        "blocks":[
            {
                "type": "heading",
                "name": "Heading",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "default": "Image banner",
                        "label": "Title"
                    }
                ]
            },
            {
                    "type": "text",
                    "name": "Text",
                    "limit": 1,
                    "settings": [ 
                        {
                            "type": "text",
                            "id": "subtitle",
                            "default": "Give customers details about the banner image(s) or content on the template.",
                            "label": "Subtitle"
                        }
                    ]
            },
            {
                "type": "button",
                "name": "Button",
                "settings": [
                    {
                        "type": "text",
                        "id": "button_label",
                        "label": "Button Label",
                        "default": "Shop Now"
                    },
                    {
                        "type": "url",
                        "id": "button_link",
                        "label": "Button Link"
                    }
                ]
            }

        ],
        "presets": [
            {
                "name": "Image banner with sidebar",
                
            }
        ]
    }
{% endschema %}